<div id="tokenHotBar" class="tokenHotBar">
  <div class="tokenMacroBar">
    <h4> 
      {{characterName}}
      <i class="fas fa-cog settings"></i>
      <div class="settings-menu">
        <ul class="fa-ul">
          <li class="showNonWielded">
              <span class="fa-li fa">
                <i class="{{#if showNonWielded}}fas fa-check-square {{else}}far fa-square{{/if}}"></i> 
              </span>
              {{ localize "MTA.ShowUnwielded" }}
          </li>
          <li class="showEquipment">
            <span class="fa-li fa">
              <i class="{{#if showEquipment}}fas fa-check-square {{else}}far fa-square{{/if}}"></i>
            </span>
            {{ localize "MTA.ShowEquipment" }}
        </li>
        </ul>
      </div>
    </h4>
    <ol class="flexrow macro-list">
      {{#each macros}}
      <li class="macro {{#if sheetMacro}} sheetMacro {{/if}} {{#if notEquipped}} unequipped {{/if}} tooltip fast" data-index={{@index}}>
        <img src="{{img}}" alt="{{name}}">
        <span class="tooltip-text">{{name}}</span>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="buttonArray">
    <div class="damage-increase">
      <i class="fas fa-minus"></i>
      <input class="damage-number" type="number" value="1" data-dtype="Number">
      <i class="fas fa-plus"></i>
    </div>
    
    <div class="button modernButton damage-type" data-type="bashing">
      <i class="fas fa-chevron-left"></i>
      <i class="button-content">{{ localize "MTA.Bashing" }}</i>
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="button modernButton red damage-apply">{{ localize "MTA.Damage" }}</div>
  </div>
</div>