<form class="{{cssClass}} flexrow nowrap" autocomplete="off">

  <div>
    <!-- Left Side -->

    <div class="item-stat-block">

      <div class="stat-group">
        <div class="sheet-header">
          <h3> {{ localize "MTA.SpellDetails" }} </h3>
        </div>
        <div class="gold-border"> </div>

        <div class="form-line">
          <label> {{ localize "MTA.Arcanum" }} </label>
          <select name="object.data.arcanum">
            {{#select object.data.arcanum}}
              {{#each config.arcana as |cvalue ckey|}}
                <option value="{{ckey}}">{{cvalue}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.Level" }} </label> <input name="object.data.level" type="number" data-dtype="Number" value="{{object.data.level}}" />
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.PrimaryFactor" }} </label>
          <select name="object.data.primaryFactor">
            {{#select object.data.primaryFactor}}
              {{#each config.primaryFactors}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            {{/select}}
          </select>
          <label class="wide small"> {{ localize "MTA.ChangePrimaryFactorInstructions" }} </label>
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.YantraDice" }} </label> <input name="object.data.yantraBonus" type="number" data-dtype="Number" value="{{object.data.yantraBonus}}" />
          <label class="wide small"> {{ localize "MTA.AfterDice" }}: {{yantraBonusFinal}} </label>
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.DiceMod" }} </label> <input name="object.data.bonusDice" type="number" data-dtype="Number" value="{{object.data.bonusDice}}" />
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.WithstandRating" }} </label> <input name="object.data.withstandRating" type="number" data-dtype="Number" value="{{object.data.withstandRating}}" />
          <label class="wide small"> {{ localize "MTA.WithstandInstructions" }} </label>
        </div>
        <div class="form-line">
          <div class="wide">
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.castPraxis" type="checkbox" {{checked object.data.castPraxis}}>
              <span> Praxis </span>
            </label>
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.isInured" type="checkbox" {{checked object.data.isInured}}>
              <span> {{ localize "MTA.Inured" }} </span>
            </label>
            {{#if scelestiRank}}
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.isBefouled" type="checkbox" {{checked object.data.isBefouled}}>
              <span> {{ localize "MTA.Befouled" }} </span>
            </label>
            {{/if}}
          </div>
          <div class="wide">
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.castRote" type="checkbox" {{checked object.data.castRote}}>
              <span> {{ localize "MTA.Rote" }} </span>
            </label>
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.castRoteOwn" type="checkbox" {{checked object.data.castRoteOwn}}>
              <span> {{ localize "MTA.SelfDesigned" }} </span>
            </label>
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.castGrimoire" type="checkbox" {{checked object.data.castGrimoire}}>
              <span> {{ localize "MTA.Grimoire" }} </span>
            </label>
          </div>
        </div>
      </div>

      <div class="stat-group">
        <div class="sheet-header">
          <h3> {{ localize "MTA.Paradox" }} </h3>
        </div>
        <div class="gold-border"> </div>

        <div class="form-line">
          <label> {{ localize "MTA.ParadoxScene" }} </label> <input name="object.data.paradox.previous_rolls" type="number" data-dtype="Number" value="{{object.data.paradox.previous_rolls}}" min="0" />
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.SleeperWitnesses" }} </label>
          <select name="object.data.paradox.sleeper_witnesses">
            {{#select object.data.paradox.sleeper_witnesses}}
              {{#each config.spell_casting.sleeper_witnesses}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.ManaSpent" }} </label> <input name="object.data.paradox.mana_spent" type="number" data-dtype="Number" value="{{object.data.paradox.mana_spent}}" min="0" />
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.DedicatedMagicTool" }} </label>
          <label class="checkBox">
            <input object.data-dtype="Boolean" name="object.data.paradox.magical_tool_used" type="checkbox" {{checked object.data.paradox.magical_tool_used}}>
            <span></span>
          </label>
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.ParadoxMod" }} </label> <input name="object.data.paradox.bonus" type="number" data-dtype="Number" value="{{object.data.paradox.bonus}}" />
        </div>

      </div>

    </div>


  </div>


  <div>
    <!-- Right Side -->
    <div class="item-stat-block">

      <div class="stat-group">
        <div class="sheet-header">
          <h3> {{ localize "MTA.SpellFactors" }} </h3>
        </div>
        <div class="gold-border"> </div>

        <div class="form-line {{#if valueChange.potency}} fadeRed {{/if}}">
          <label> {{ localize "MTA.Potency" }} </label>
          <span>
            <select name="object.data.potency.value">
              {{#select object.data.potency.value}}
                {{#if object.data.potency.isAdvanced}}
                  {{#each config.spell_casting.potency.advanced}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{else}}
                  {{#each config.spell_casting.potency.standard}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{/if}}
              {{/select}}
            </select>
          </span>
          <span><label class="small"> {{ localize "MTA.Advanced" }} </label>
            <label class="checkBox">
              <input object.data-dtype="Boolean" name="object.data.potency.isAdvanced" type="checkbox" {{checked object.data.potency.isAdvanced}}>
              <span></span>
            </label>
          </span>
          <label class="small freeFactor"> {{#if object.data.potency.freeFactor}} Free Potency: {{object.data.potency.freeFactor}} {{/if}} </label>
          <label class="wide small"> {{#if object.data.potency.isAdvanced}} +2 Withstand against dispell {{/if}} </label>
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.Duration" }} </label>
          <span>
            <select name="object.data.duration.value">
              {{#select object.data.duration.value}}
                {{#if object.data.duration.isAdvanced}}
                  {{#each config.spell_casting.duration.advanced}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{else}}
                  {{#each config.spell_casting.duration.standard}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{/if}}
              {{/select}}
            </select>
          </span>
          <span><label class="small"> {{ localize "MTA.Advanced" }} </label>
            <label class="checkBox">
              <input object.data-dtype="Boolean" name="object.data.duration.isAdvanced" type="checkbox" {{checked object.data.duration.isAdvanced}}>
              <span></span>
            </label>
          </span>
          <label class="small freeFactor"> {{#if object.data.duration.freeFactor}} {{ localize "MTA.FreeDuration" }}: {{object.data.duration.freeFactor}} {{/if}} </label>
          <label class="wide small"> {{ localize "MTA.DurationInstructionsSpell" }} {{ritualCastingTime}}. </label>
          <span class="wide">
            {{#if attainment_permanence}}
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.attainment_permanence" type="checkbox" {{checked object.data.attainment_permanence}}>
              <span> {{ localize "MTA.Permanence" }} </span>
            </label>
            {{/if}}
            {{#if attainment_conditionalDuration}}
            <select name="object.data.condition">
              {{#select object.data.condition}}
                  {{#each config.spell_casting.condition}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
              {{/select}}
            </select>
            {{/if}}
          </span>
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.Scale" }} </label>
          <span>
            <select name="object.data.scale.value">
              {{#select object.data.scale.value}}
                {{#if object.data.scale.isAdvanced}}
                  {{#each config.spell_casting.scale.advanced}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{else}}
                  {{#each config.spell_casting.scale.standard}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{/if}}
              {{/select}}
            </select>
          </span>
          <span><label class="small"> {{ localize "MTA.Advanced" }} </label>
            <label class="checkBox">
              <input object.data-dtype="Boolean" name="object.data.scale.isAdvanced" type="checkbox" {{checked object.data.scale.isAdvanced}}>
              <span></span>
            </label>
          </span>
          {{#if attainment_everywhere}}
          <span class="wide">
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.attainment_everywhere" type="checkbox" {{checked object.data.attainment_everywhere}}>
              <span> {{ localize "MTA.Everywhere" }} </span>
            </label>
          </span>
          {{/if}}
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.CastingTime" }} </label>
          <span>
            <select name="object.data.casting_time.value">
              {{#select object.data.casting_time.value}}
                {{#if object.data.casting_time.isAdvanced}}
                  {{#each config.spell_casting.casting_time.advanced}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{else}}
                  {{#each casting_time}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{/if}}
              {{/select}}
            </select>
          </span>
          <span><label class="small"> {{ localize "MTA.Advanced" }} </label>
            <label class="checkBox">
              <input object.data-dtype="Boolean" name="object.data.casting_time.isAdvanced" type="checkbox" {{checked object.data.casting_time.isAdvanced}}>
              <span></span>
            </label>
          </span>
          {{#if attainment_timeInABottle}}
          <span class="wide">
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.attainment_timeInABottle" type="checkbox" {{checked object.data.attainment_timeInABottle}}>
              <span> {{ localize "MTA.TimeInABottle" }} </span>
            </label>
          </span>
          {{/if}}
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.Range" }} </label>
          <span>
            <select name="object.data.range.value">
              {{#select object.data.range.value}}
                {{#if object.data.range.isAdvanced}}
                  {{#each config.spell_casting.range.advanced}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{else}}
                  {{#each config.spell_casting.range.standard}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                {{/if}}
              {{/select}}
            </select>
          </span>
          <span><label class="small"> {{ localize "MTA.Advanced" }} </label>
            <label class="checkBox">
              <input object.data-dtype="Boolean" name="object.data.range.isAdvanced" type="checkbox" {{checked object.data.range.isAdvanced}}>
              <span></span>
            </label>
          </span>
          <span class="wide">
            {{#if attainment_sympatheticRange}}
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.attainment_sympatheticRange" type="checkbox" {{checked object.data.attainment_sympatheticRange}}>
              <span> {{ localize "MTA.SympatheticRange" }} </span>
            </label>
            {{/if}}
            {{#if attainment_temporalSympathy}}
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.attainment_temporalSympathy" type="checkbox" {{checked object.data.attainment_temporalSympathy}}>
              <span> {{ localize "MTA.TemporalSympathy" }} </span>
            </label>
            {{/if}}
          </span>
          
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.ReachMod" }} </label> <input name="object.data.additionalReach" type="number" data-dtype="Number" value="{{object.data.additionalReach}}" />
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.ManaMod" }} </label> <input name="object.data.manaMod" type="number" data-dtype="Number" value="{{object.data.manaMod}}" />
        </div>

      </div>

      <div class="stat-group">
        <div class="form-line {{#if valueChange.dicePool}} fadeRed {{/if}}">
          <label> {{ localize "MTA.DicePool" }} </label>
          <label> 
            <label> {{object.data.spellcastingDice}} </label>
            <span class="dicePoolMods">
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.spell_tenAgain" type="checkbox" {{checked object.data.spell_tenAgain}}>
              <span> 10-{{ localize "MTA.Again" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.spell_nineAgain" type="checkbox" {{checked object.data.spell_nineAgain}}>
              <span> 9-{{ localize "MTA.Again" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.spell_eightAgain" type="checkbox" {{checked object.data.spell_eightAgain}}>
              <span> 8-{{ localize "MTA.Again" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.spell_roteQuality" type="checkbox" {{checked object.data.spell_roteQuality}}>
              <span> {{ localize "MTA.Rote" }} </span>
            </label>
            </span>
          </label>
          <label class="wide small">{{#if object.data.woundPenalty}}(-{{object.data.woundPenalty}} {{ localize "MTA.DiceWoundPenalty" }}){{/if}}</label>
          <label class="wide small"> {{#if spellImpossible}} Spell fails {{else}} {{#if object.data.chance_die}} {{ localize "MTA.ChanceDie" }}{{/if}} {{/if}}</label>
        </div>
        <div class="form-line {{#if valueChange.reach}} fadeRed {{else}} {{#if valueChange.reachFree}} fadeRed {{/if}} {{/if}}">
          <label> {{ localize "MTA.Reaching" }} </label>
          <label> {{object.data.reach}} / {{object.data.reachFree}}</label>
          {{#if activeSpellReach}}  <label> </label> <label class="small extraReach">(+{{activeSpellReach}} {{ localize "MTA.ReachInstructions" }}.)</label> {{/if}}
        </div>
        <div class="form-line {{#if valueChange.manaCost}} fadeRed {{/if}}">
          <label> {{ localize "MTA.MageMana" }} </label>
          <label> {{object.data.manaCost}} </label>
        </div>
        <div class="form-line {{#if valueChange.paradox}} fadeRed {{/if}}">
          <label> {{ localize "MTA.Paradox" }} </label>
          <label> 
            <label> {{object.data.paradox.value}} </label>
            <span class="dicePoolMods">
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.paradox_tenAgain" type="checkbox" {{checked object.data.paradox_tenAgain}}>
              <span> 10-{{ localize "MTA.Again" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.paradox_nineAgain" type="checkbox" {{checked object.data.paradox_nineAgain}}>
              <span> 9-{{ localize "MTA.Again" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.paradox_eightAgain" type="checkbox" {{checked object.data.paradox_eightAgain}}>
              <span> 8-{{ localize "MTA.Again" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.data.paradox_roteQuality" type="checkbox" {{checked object.data.paradox_roteQuality}}>
              <span> {{ localize "MTA.Rote" }} </span>
            </label>
            </span>
          </label>
          <label class="wide small"> {{#if object.data.paradox.chance_die}} {{ localize "MTA.ChanceDie" }} {{/if}} </label>
        </div>
        <div>
          <button class="button stoneButton imprSpell rollParadox">
            {{ localize "MTA.RollParadox" }}
          </button>

          <button class="button stoneButton imprSpell castSpell">
            {{ localize "MTA.CastSpell" }}
          </button>
        
        </div>
        

      </div>

    </div>



  </div>




</form>