<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type">{{localize "MTA.DemonPower"}}</h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li> 
               <label> Rating </label> <input name="data.rating" type="number" data-dtype="Number" value="{{data.rating}}" />
            </li>
            <li>
              <label> Torment </label>
              <label class="checkBox">
                <input data-dtype="Boolean" name="data.torment" type="checkbox" {{checked data.torment}}>
                <span></span>
              </label>
            </li>
          </ul>
        </div>
    </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">    
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            <div class="item-stat-block">
              <div class="form-line attributeList">
                <label> Dice Pool </label> 
                <span class="stoneButton dicePoolAdd">+</span>
                {{#each data.dicePool.attributes}} 
                <select name="data.dicePool.attributes.{{@index}}">
                    {{#select this}}
                      <optgroup label="Attributes">
                        {{#each ../config.eph_physical}}
                          <option value="eph_physical.{{@key}}">{{this}}</option>
                        {{/each}}
                        {{#each ../config.eph_social}}
                          <option value="eph_social.{{@key}}">{{this}}</option>
                        {{/each}}
                        {{#each ../config.eph_mental}}
                          <option value="eph_mental.{{@key}}">{{this}}</option>
                        {{/each}}
                      </optgroup>
                      <optgroup label="Traits">
                        {{#each ../config.derivedTraits}}
                          <option value="derivedTraits.{{@key}}">{{this}}</option>
                        {{/each}}
                      </optgroup>
                    {{/select}}
                  </select>
                <span class="stoneButton dicePoolRemove" data-index={{@index}}>-</span>
                {{/each}}
                <span>
                  + <input name="data.dicePool.value" type="number" data-dtype="Number" value="{{data.dicePool.value}}" />
                </span>
              </div>
              <div class="form-line">
                <label> Lore </label> 
                <input name="data.lore" type="text" value="{{data.lore}}" data-koptions="Lore of Celestials/Lore of Flame/Lore of Fundament/---/Lore of the Winds/Lore of Awakening/Lore of the Firmament/---/Lore of the Earth/Lore of the Forge/Lore of Paths/---/Lore of Light/Lore of Patterns/Lore of Portals/---/Lore of Longing/Lore of Storms/Lore of Transfiguration/---/Lore of the Beast/Lore of the Flesh/Lore of the Wild/---/Lore of Death/Lore of the Realms/Lore of Decay"/>
              </div>
            </div>
        </div>
    </section>
</form>
