<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type">{{localize "MTA.Tactic"}}</h4>
        <span class="item-status"></span>
      </div>
      <ul class="summary">
        <li>
          <label>Favored</label>
          <label class="checkBox">
            <input data-dtype="Boolean" name="data.favored" type="checkbox" {{checked data.favored}}>
            <span></span>
          </label>
        </li>
      </ul>
    </div>
  </header>
  <div class="gold-border"> </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab" data-tab="effects">
      <div class="item-stat-block">
        <div class="form-line attributeList">
          <label>Dice Pools</label> 
          <span class="stoneButton green multipleDicePoolsAdd">Add</span>
          {{#each data.dicepools_primary}}
            <div class=" form-line attributeList dicePoolBox wide">
              <textarea name="data.dicepools_primary.{{@index}}.description" placeholder="Description">{{description}}</textarea>
              <span class="stoneButton dicePoolAdd" data-index={{@index}}>+</span>
              {{#each attributes}} 
                <select name="data.dicepools_primary.{{@../index}}.attributes.{{@index}}">
                {{#select this}}
                  {{#if ../../potentialAttributes}}
                  <optgroup label="{{../../potentialAttributesName}}">
                    {{#each ../../potentialAttributes}}
                      {{#each entries}}
                        <option value="{{../name}}.{{this.[0]}}">{{this.[1]}}</option>
                      {{/each}}
                    {{/each}}
                  </optgroup>
                  {{/if}}
                  <optgroup label="Attributes">
                    {{#each ../../config.attributes_physical}}
                      <option value="attributes_physical.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../../config.attributes_social}}
                      <option value="attributes_social.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../../config.attributes_mental}}
                      <option value="attributes_mental.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  <optgroup label="Skills">
                    {{#each ../../config.skills_physical}}
                      <option value="skills_physical.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../../config.skills_social}}
                      <option value="skills_social.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../../config.skills_mental}}
                      <option value="skills_mental.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  <optgroup label="Traits">
                    {{#each ../../config.derivedTraits}}
                      <option value="derivedTraits.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                {{/select}}
                </select>
                <span class="stoneButton dicePoolRemove" data-index="{{@../index}}" data-dpindex="{{@index}}">-</span>
              {{/each}}
              <span class="wide">
                + <input name="data.dicepools_primary.{{@index}}.value" type="number" data-dtype="Number" placeholder=0 value="{{value}}" />
              </span>
              <label>Primary</label> 
              <label class="checkBox">
                <input data-dtype="Boolean" name="data.dicepools_primary.{{@index}}.primary" type="checkbox" {{checked primary}}>
                <span></span>
              </label>
              <label>No dice</label> 
              <label class="checkBox">
                <input data-dtype="Boolean" name="data.dicepools_primary.{{@index}}.noDice" type="checkbox" {{checked noDice}}>
                <span></span>
              </label>
              <span class="stoneButton wide red multipleDicePoolsRemove" data-index={{@index}}>Remove</span>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</form>
