<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
      <div class="flexcol merit-img">
        <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type">{{localize "MTA.ThaumatechImplant"}}</h4>
            <span class="item-status"></span>
          </div>
        </div>
    </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">    
      <a class="item" data-tab="effects">Effects</a>
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      
        {{!-- Effects Tab --}}
        <div class="tab" data-tab="effects">
          <div class="item-stat-block">
            <div class="form-line">
                <label>{{localize "MTA.Cost"}}</label> <input name="data.cost" type="text" value="{{data.cost}}" data-koptions="1 Willpower/1 point of lethal damage"/>
            </div>
            <div class="form-line">
                <label>{{localize "MTA.Action"}}</label> <input name="data.action" type="text" value="{{data.action}}" data-koptions="{{#each config.actionTypes}}{{this}}/{{/each}}"/>
            </div>
            <div class="form-line">
                <label>{{localize "MTA.Duration"}}</label> <input name="data.duration" type="text" value="{{data.duration}}" data-koptions="One scene/One day/Indefinite"/>
            </div>
            <div class="form-line">
              <label> Active </label>
              <label class="checkBox">
                <input data-dtype="Boolean" name="data.effectsActive" type="checkbox" {{checked data.effectsActive}}>
                <span></span>
              </label>
            </div>
    
            <div class="form-line attributeList">
              <label> Effects </label>
              <span class="stoneButton effectAdd">+</span>
              {{#each data.effects}}
              <span>
                <select name="data.effects.{{@index}}.name">
                  {{#select name}}
                  <optgroup label="Attributes">
                    {{#each ../config.attributes_physical}}
                    <option value="attributes_physical.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.attributes_social}}
                    <option value="attributes_social.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.attributes_mental}}
                    <option value="attributes_mental.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  <optgroup label="Skills">
                    {{#each ../config.skills_physical}}
                    <option value="skills_physical.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.skills_social}}
                    <option value="skills_social.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.skills_mental}}
                    <option value="skills_mental.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  <optgroup label="Traits">
                    {{#each ../config.derivedTraits}}
                    <option value="derivedTraits.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  {{/select}}
                </select>
                <input name="data.effects.{{@index}}.value" type="number" data-dtype="Number" value="{{value}}" />
              </span>
              <span class="stoneButton effectRemove" data-index={{@index}}>-</span>
              {{/each}}
            </div>
            <div class="form-line attributeList">
              <label> Dice Pool </label> 
              <span class="stoneButton dicePoolAdd">+</span>
              {{#each data.dicePool.attributes}} 
              <select name="data.dicePool.attributes.{{@index}}">
                  {{#select this}}
                    {{#if ../potentialAttributes}}
                    <optgroup label="{{../potentialAttributesName}}">
                      {{#each ../potentialAttributes}}
                        {{#each entries}}
                          <option value="{{../name}}.{{this.[0]}}">{{this.[1]}}</option>
                        {{/each}}
                      {{/each}}
                    </optgroup>
                    {{/if}}
                    <optgroup label="Attributes">
                      {{#each ../config.attributes_physical}}
                        <option value="attributes_physical.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.attributes_social}}
                        <option value="attributes_social.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.attributes_mental}}
                        <option value="attributes_mental.{{@key}}">{{this}}</option>
                      {{/each}}
                    </optgroup>
                    <optgroup label="Skills">
                      {{#each ../config.skills_physical}}
                        <option value="skills_physical.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.skills_social}}
                        <option value="skills_social.{{@key}}">{{this}}</option>
                      {{/each}}
                      {{#each ../config.skills_mental}}
                        <option value="skills_mental.{{@key}}">{{this}}</option>
                      {{/each}}
                    </optgroup>
                    <optgroup label="Traits">
                      {{#each ../config.derivedTraits}}
                        <option value="derivedTraits.{{@key}}">{{this}}</option>
                      {{/each}}
                    </optgroup>
                  {{/select}}
                </select>
              <span class="stoneButton dicePoolRemove" data-index={{@index}}>-</span>
              {{/each}}
              <span>
                + <input name="data.dicePool.value" type="number" data-dtype="Number" placeholder=0 value="{{data.dicePool.value}}" />
              </span>
            </div>
          </div>
        </div>
    </section>
</form>